<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__first flex">
      <span class="hero__first-span">#мастеркласс</span>
      <div class="hero__empty"></div>
      <div class="hero__first-content">
        <p class="hero__first-content-text">Мастер-класс от Игоря Робова</p>
        <h1 class="hero__title">Неоновый фотосет 2.0 7 июля 20:00</h1>
        <a href="#" class="hero__first-content-link btn-orange">Узнать больше</a>
      </div>
    </div>
    <div class="hero__second-descr flex">
      <p class="hero__second-p">Работы участников предыдущего мастер-класса</p>
      <picture class="hero__picture">
        <source srcset="img/hero2-320.jpg" media="(max-width: 500px)"  class="hero__img" >
        <source srcset="img/hero2-768.jpg" media="(max-width: 800px)"  class="hero__img" >
        <source srcset="img/hero2-1024.jpg" media="(max-width: 1100px)" class="hero__img" >
        <source srcset="img/hero2.jpg" media="(max-width: 2020px)"  class="hero__img" >
        <img src="img/hero2.jpg" alt="Картина">
      </picture>
      <!-- <div class="hero__sec-pic"> </div> -->
    </div>
    <img src="../img/hero3.jpg" class="hero__third-pic" alt="">
    <img src="../img/hero4.jpg" class="hero__fourth-pic" alt="">
  </div>
</section>
