<section class="projects">
  <div class="container projects__container">
    <h2 class="projects__title second-title">Наши проекты</h2>
    <ul class="projects__list grid list-reset">
      <li class="projects__item flex pr1">
        <picture class="projects__picture">
          <source srcset="img/p1-320.jpg" media="(max-width: 500px)"  class="projects__img" >
          <source srcset="img/p1-768.jpg" media="(max-width: 800px)"  class="projects__img" >
          <source srcset="img/p1-1024.jpg" media="(max-width: 1100px)" class="projects__img" >
          <source srcset="img/p1-1920.jpg" media="(max-width: 2020px)"  class="projects__img" >
          <img src="img/p1-1920.jpg" alt="Картина">
        </picture>
        <span class="projects__span">#пейзаж</span>
        <p class="projects__item-descr fsz14">Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...</p>
        <p class="projects__date">16 июня</p>
      </li>
      <li class="projects__item flex pr2">
        <picture class="projects__picture">
          <source srcset="img/p2-320.jpg" media="(max-width: 500px)"  class="projects__img" >
          <source srcset="img/p2-768.jpg" media="(max-width: 800px)"  class="projects__img" >
          <source srcset="img/p2-1024.jpg" media="(max-width: 1100px)" class="projects__img" >
          <source srcset="img/p2-1920.jpg" media="(max-width: 2020px)"  class="projects__img" >
          <img src="img/p2-1920.jpg" alt="Картина">
        </picture>
        <span class="projects__span">#портрет</span>
        <p class="projects__item-descr fsz14">В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные...</p>
        <p class="projects__date">28 мая</p>
      </li>
      <li class="projects__item flex pr3">
        <picture class="projects__picture">
          <source srcset="img/p3-320.jpg" media="(max-width: 500px)"  class="projects__img" >
          <source srcset="img/p3-768.jpg" media="(max-width: 800px)"  class="projects__img" >
          <source srcset="img/p3-1024.jpg" media="(max-width: 1100px)" class="projects__img" >
          <source srcset="img/p3-1920.jpg" media="(max-width: 2020px)"  class="projects__img" >
          <img src="img/p3-1920.jpg" alt="Картина">
        </picture>
        <span class="projects__span">#предмет</span>
        <p class="projects__item-descr fsz14">Равным образом, высокое качество позиционных...</p>
        <p class="projects__date">14 мая</p>
      </li>
      <li class="projects__item bg-item pr4 flex eye">
        <span class="projects__span">#fuji</span>
        <div class="projects__item-wrapper flex">
          <p class="projects__date white wd">9 апреля</p>
          <h3 class="projects__third-title">Cемантический разбор</h3>
          <p class="projects__item-descr white">В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы</p>
          <a href="#" class="projects__btn">О проекте</a>
        </div>
      </li>
      <li class="projects__item bg-item pr5 flex mountain">
        <span class="projects__span">#проектзабвение</span>
        <div class="projects__item-wrapper flex">
          <p class="projects__date white wd">20 марта</p>
          <h3 class="projects__third-title">Забвение</h3>
          <p class="projects__item-descr white">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений</p>
          <a href="#" class="projects__btn">О проекте</a>
        </div>
      </li>
      <li class="projects__item flex pr6">
        <picture class="projects__picture">
          <source srcset="img/p6-320.jpg" media="(max-width: 500px)"  class="projects__img" >
          <source srcset="img/p6-768.jpg" media="(max-width: 800px)"  class="projects__img" >
          <source srcset="img/p6-1024.jpg" media="(max-width: 1100px)" class="projects__img" >
          <source srcset="img/p6-1920.jpg" media="(max-width: 2020px)"  class="projects__img" >
          <img src="img/p6-1920.jpg" alt="Картина">
        </picture>
        <span class="projects__span">#ретушь</span>
        <p class="projects__item-descr fsz14">Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...</p>
        <p class="projects__date">9 марта</p>
      </li>
      <li class="projects__item flex pr7">
        <picture class="projects__picture">
          <source srcset="img/p7-320.jpg" media="(max-width: 500px)"  class="projects__img" >
          <source srcset="img/p7-768.jpg" media="(max-width: 800px)"  class="projects__img" >
          <source srcset="img/p7-1024.jpg" media="(max-width: 1100px)" class="projects__img" >
          <source srcset="img/p7-1920.jpg" media="(max-width: 2020px)"  class="projects__img" >
          <img src="img/p7-1920.jpg" alt="Картина">
        </picture>
        <span class="projects__span">#портрет</span>
        <p class="projects__item-descr fsz14">С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...</p>
        <p class="projects__date">1 марта</p>
      </li>
    </ul>
  </div>
</section>
